<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <title>ELP Home - Generate List - Query</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="/include/library.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table border="1" width="100%">
    <tbody>
    <tr>
        <td colspan="2" width="100%">
            <div w3-include-html="/include/header.html"></div>
        </td>
    </tr>
    <tr>
        <td valign="top" width="100" bgcolor="#FFFFFF">
            <div w3-include-html="/include/iconbar.html"></div>
        </td>
        <td valign="top" width="100%" bgcolor="#FFFFFF">
            <h4>Your query of the Restricted Lexicon returned 46 Items:</h4>
            <table border="1">
                <span th:each="row : ${items}">
                    <tr align="CENTER">
                        <span th:each="col : ${row}">
                        <td th:text="${col}"/>
                        </span>
                    </tr>
                </span>
            </table>

            <hr>
            <div w3-include-html="/include/footer.html"></div>
        </td>
    </tr>
    </tbody>
</table>

<script>
    includeHTML();
</script>

</body>
</html>
