<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <title>English Lexicon Project - Error</title>
    <link rel="stylesheet" href="/include/styles.css">
    <script src="/include/library.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table border="1" width="100%">
    <tbody>
    <tr>
        <td colspan="2" width="100%">
            <div w3-include-html="/include/header.html"></div>
        </td>
    </tr>
    <tr>
        <td valign="top" width="100" bgcolor="#FFFFFF">
            <div w3-include-html="/include/iconbar.html"></div>
        </td>
        <td valign="top" width="100%" bgcolor="#FFFFFF">

            <h2><span th:text="${errorMessage}">Error Message</span></h2>

            <h3>Please go <a href="somepage.html" th:href="@{|${errorBackLink}|}" >Back</a> to resubmit your query.</h3>

            <H3>Click <a href='/index.html'>here</a> to go back to the ELP home.</h3>


            <hr>
            <div w3-include-html="/include/footer.html"></div>
        </td>
    </tr>
    </tbody>
</table>

<script>
    includeHTML();
</script>
<!-- Default Statcounter code for English Lexicon Project
https://elexicon.wustl.edu -->
<script type="text/javascript">
    var sc_project=10159264;
    var sc_invisible=0;
    var sc_security="62bb5564";
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
                                      href="https://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="https://c.statcounter.com/10159264/0/62bb5564/0/"
        alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>
</html>
