<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <link rel="stylesheet" href="/include/styles.css">
    <title th:text="${title}">Title</title>
</head>
<body>

<h3 th:text="${heading}" align='LEFT'>Heading</h3>
<h4 th:text="${neighborword}" align='LEFT'>Word</h4>

<span th:if="${queryEmpty == 'False'}">
    <table border="1">

        <tr align="CENTER">
            <span th:each="headers : ${items.get(0)}">
                <th th:text="${headers.key}">header key</th>
            </span>
        </tr>
        <span th:each="row : ${items}">
            <tr align="CENTER">
                <span th:each="entry : ${row}">
                    <td th:text="${entry.value}">header value</td>
                </span>
            </tr>
        </span>
    </table>
</span>
<span th:unless="${queryEmpty == 'False'}">
    <H2>There are no neighbors...</H2>
</span>


<FORM><input class="elpButton" type="button" Value="Close Window" ONCLICK="window.close()"></FORM>
<!-- Default Statcounter code for English Lexicon Project
https://elexicon.wustl.edu -->
<script type="text/javascript">
    var sc_project=10159264;
    var sc_invisible=0;
    var sc_security="62bb5564";
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
                                      href="https://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="https://c.statcounter.com/10159264/0/62bb5564/0/"
        alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>
</html>