<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <title>ELP Home - Generate List - Query</title>
    <link rel="stylesheet" href="/include/styles.css">
    <script src="/include/library.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table border="1" width="100%">
    <tbody>
    <tr>
        <td colspan="2" width="100%">
            <div w3-include-html="/include/header.html"></div>
        </td>
    </tr>
    <tr>
        <td valign="top" width="100" bgcolor="#FFFFFF">
            <div w3-include-html="/include/iconbar.html"></div>
        </td>
        <td valign="top" width="100%" bgcolor="#FFFFFF">
            <h4>Your query of the <span th:text="${targetDb}">Unknown</span> Lexicon returned  <span th:text="${itemCount}">0</span> Items:</h4>
            <table border="1">
                     <tr align="CENTER">
                        <span th:each="headers : ${items.get(0)}">
                            <th th:text="${headers.key}">header key</th>
                        </span>
                         <span th:if="${orthoButtonFlag}">
                             <th>Button</th>
                         </span>
                    </tr>
                <span th:each="row : ${items}">
                    <tr align="CENTER">
                        <span th:each="entry : ${row}">
                            <td th:text="${entry.value}">header value</td>
                        </span>
                        <span th:if="${orthoButtonFlag}">
                            <TD><INPUT type="button" style="background-color: #4CAF50;" name="dummy" value="Ortho N..." th:onclick="|window.open('/neighbors?word=${row.get('Word')}&type=neighbors&target=${targetDb}','dummy','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=300,height=600')|"></TD>
                        </span>
                        <span th:if="${phonoButtonFlag}">
                            <TD><INPUT type="button" style="background-color: #4CAF50;" name="dummy" value="Phono N..." th:onclick="|window.open('/neighbors?word=${row.get('Word')}&type=phono&target=${targetDb}','dummy','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=300,height=600')|"></TD>
                        </span>
                        <span th:if="${phonoHButtonFlag}">
                            <TD><INPUT type="button" style="background-color: #4CAF50;" name="dummy" value="Phono H N..." th:onclick="|window.open('/neighbors?word=${row.get('Word')}&type=phonoh&target=${targetDb}','dummy','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=300,height=600')|"></TD>
                        </span>
                         <span th:if="${ogButtonFlag}">
                            <TD><INPUT type="button" style="background-color: #4CAF50;" name="dummy" value="OG N..." th:onclick="|window.open('/neighbors?word=${row.get('Word')}&type=og&target=${targetDb}','dummy','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=300,height=600')|"></TD>
                        </span>
                         <span th:if="${oghButtonFlag}">
                            <TD><INPUT type="button" style="background-color: #4CAF50;" name="dummy" value="OGH N..." th:onclick="|window.open('/neighbors?word=${row.get('Word')}&type=ogh&target=${targetDb}','dummy','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=300,height=600')|"></TD>
                        </span>
                    </tr>
                </span>
            </table>

            <hr>
            <div w3-include-html="/include/footer.html"></div>
        </td>
    </tr>
    </tbody>
</table>

<script>
    includeHTML();
</script>

</body>
</html>
