<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <title>ELP Home - Generate List - Query</title>
    <link rel="stylesheet" href="/include/styles.css">
    <script src="/include/library.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table border="1" width="100%">
    <tbody>
    <tr>
        <td colspan="2" width="100%">
            <div w3-include-html="/include/header.html"></div>
        </td>
    </tr>
    <tr>
        <td valign="top" width="100" bgcolor="#FFFFFF">
            <div w3-include-html="/include/iconbar.html"></div>
        </td>
        <td valign="top" width="100%" bgcolor="#FFFFFF">
            <h4>Your query of Lexical Decision Data returned  <span th:text="${expDataCount}">0</span> Items:</h4>
            <table border="1">
                     <tr align="CENTER">
                        <span th:each="headers : ${items.get(0)}">
                            <th th:text="${headers.key}">header key</th>
                        </span>
                    </tr>
                <span th:each="row : ${items}">
                    <tr align="CENTER">
                        <span th:each="entry : ${row}">
                            <td th:text="${entry.value}">header value</td>
                        </span>
                    </tr>
                </span>
            </table>

            <hr>
            <div w3-include-html="/include/footer.html"></div>
        </td>
    </tr>
    </tbody>
</table>

<script>
    includeHTML();
</script>

</body>
</html>
